.add-trip-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  width: 200px;
  height: auto;
  left: 50%;
  margin-left: -100px;
  top: 25%;
  margin-top: -100px;
}

.form-group{
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: 100%;
  margin: 5px 0;
}
