.add-trip-form{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  left: 50%;
  margin-left: -100px;
  top: 25%;
  margin-top: -100px;
}

.form-group{
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: 100%;
  margin: 5px 0;
}
