.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  background-color: #1A1A1C;
  color: white;
}

.name {
  margin-left: 20px;
  margin-right: 40px;
}

.nav-items-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-item {
  text-align: start;
  margin-right: 40px;
  border-radius: 5px;
  height: 20px;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
  @media (max-width: 700px) {
    margin-right: 20px;
  }
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.active {
  opacity: 1;
  text-decoration: none;
}
